body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-fixed {
    position: fixed;
    top: -30px;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.header-fixed .button-container {
    margin: 0;
}

.header-fixed .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.header-fixed .logo-and-search {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.header-fixed .menu {
    margin-left: -600px;
}

.header-fixed .menu ul {
    margin-right: 0;
}

.header-show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}


.navbar {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    padding-inline-start: 15%; */
}

.logo-and-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    /* margin-left: 20%; */
}

.logo img {
    height: auto;
    max-width: 300px;
    margin: 0;
    cursor: pointer;
}

.search {
    display: inline-block;
    position: relative;
}

.search input[type="text"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #4e99e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search input[type="text"]:hover {
    border: 1px solid #4e99e9;
}

.search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 1px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
}

.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: blue;
}

span.material-symbols-outlined {
    -webkit-writing-mode: vertical-lr;
    padding-top: 2px;
}

.material-symbols-outlined {
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 15%;
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {

    margin-right: 75px;
}

.menu a {
    text-decoration: none;
    color: #275D90;
    /* font-weight: bold; */
    line-height: 27.2px;
}

/* para las opciones */
.submenu {
    position: relative;
}

.submenu-content {
    margin: 0px 0px 0px -20px;
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 2;
    width: 90px;
    padding: 5px;
}

.submenu:hover .submenu-content {
    display: block;
}

/* Agrega un triángulo para indicar más opciones */
.submenu:after {
    content: '';
    position: absolute;
    top: 11px;
    right: -20px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #275D90 transparent;
    transform: scale(-1.05);
}

/* Boton */
.button-container {
    display: flex;
    align-items: center;
}

.button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #275D90;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #275D90;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #275D90;
    z-index: -1;
}

.button:hover,
button:focus {
    color: white;
}

.button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button:active {
    transform: scale(0.9);
}

.registrarme {
    font-size: 13px;
    margin-right: 40px;
}

.acceder {
    border: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    align-items: center;
    color: #275D90;
    position: relative;
    background-color:  transparent;
}

.acceder:hover {
    color: #4e99e9;
}

.acceder::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: transparent;
    z-index: -1;
}

.acceder:hover::before {
    transition: 0.5s all ease;
    opacity: 1;
}

.iconn {
    margin-bottom: 5px;
    font-size: 50px;
}

.button-text {
    display: inline-block;
}