/* Banner */
.banners {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.left-content {
    display: flex;
}

.dual-images-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 5px;
}

.izquierdaAbajo1 {
    margin-top: -160px;
}

.izquierdaAbajo2 {
    margin: auto;
    height: 50px;
}

.izquierdaArriba1 {
    width: 30%;
    height: 148px;
    margin-left: 164px;
}

.izquierdaArriba2 {
    margin-bottom: 20px;
}




.right-contentc {
    margin-top: -210px;
    right: 8%;
    position: relative;
}

.right-contentch1 {
    font-size: 50px;
}

.right-contentc p {
    font-size: 20px;
}

/* Separador */
.separador {
    background-color: #275D90;
    padding: 5px;
    text-align: center;
    color: #ffffff;
}


/* Select */

.titulo {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    z-index: 4;
}

.titulo h1 {
    font-size: 50px;
    text-align: center;
    color: #275D90;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.titulo p {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.select-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.select-group a {
    text-decoration: none;
    color: #275D90;
}

.select-group a:hover {
    text-decoration: none;
    color: #fff;
}

.select-item {
    width: calc(25% - 10px);
    border-radius: 30px;
    text-align: center;
    padding: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #EEF5FF;
    color: #275D90;
    font-weight: 700;
    transition: transform 0.3s ease-in-out;
}

.select-item:hover {
    transform: scale(1.1);
    background-color: #275D90;
    color: #ffffff;
}


/* video */

.videoText {
    margin: auto;
    display: flex;
    z-index: -1;
}

.text-container {
    flex-direction: column;
    flex: 1;
    display: flex;
    align-items: center;

    text-align: center;
    top: 35px;
    position: relative;
}

.text-container h1 {
    font-size: 37px;
    font-weight: bold;
    color: #0274be;
    font-family: "Roboto", Sans-serif;
    font-weight: 800;
}

.text-container h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #bababa;
}

.text-container p {
    font-weight: normal;
    color: #003bb1;
}


.video-container {
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 28.25%;


    .video {
        position: absolute;
        top: 15%;
        /* left: 10%; */
        width: 80%;
        height: 80%;
        border-radius: 0px 50px 50px 50px;
    }

    /* .changing-text {
        font-size: 30px;
        font-weight: bold;
        color: #275D90; 
    } */

}

/* iamgen con cards */

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cardg {
    background-color: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    padding: 30px;
    width: 300px;
    text-align: center;
}

.cardg h2 {
    color: #0d68ae;
    text-transform: uppercase;
}

.cardg p {
    color: #747b82;
}

.center-imageg {
    width: 385px;
    border-radius: 50%;
    margin: 20px 0;
}


.cardg svg {
    fill: #0274be;
    width: 50px;
    height: 50px;
}

/* tabla de precio */

.premium-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #ddd;
    padding: 30px;
    border-radius: 10px;
}

.price-plan {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.header {
    background-color: #0274be;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.plan-name {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.subtitle {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    font-size: 36px;
    font-weight: 800;
    color: #0274be;
}

.price b {
    color: #747b82;
}

.features {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.features li {
    margin: 15px 0;
    color: #555;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.features svg {
    margin-right: 15px;
    height: 24px;
    width: 24px;
    fill: #275D90;
}

.buy-button {
    display: block;
    padding: 15px 25px;
    background-color: #0274be;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #004080;
}

/* Imagenes */


.imagenes-grandess {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
    flex-direction: row-reverse;
}

.imagen-container {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.imagen-container:hover {
    transform: scale(1.1);
}

.imagen-container img {
    width: 80%;
    border-radius: 8px;
}

.contenido-textoa {
    display: flex;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 0px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contenido-textoa h2 {
    color: #0274be;
    margin-bottom: 5px;
    font-size: 50px;
}

.contenido-textoa p {
    color: #555;
    font-size: 14px;
    margin: 0;
}

/* cards imagen y texto */

.seccion-imagenes,
.seccion-texto-tarjetas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.tarjeta,
.contenedor-texto {
    text-align: center;
    margin: 10px;
}

.contenedor-texto h3 {
    font-size: 50px;
    color: #0274be;
}

.tarjeta img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tarjetaC span {
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 65px;
}

.tarjetaC p {
    color: #bfbfbf;
    font-size: 15px;
    margin: 0;
}

.tarjetaC {
    text-align: center;
    border: 2px solid #00ce1b;
    border-radius: 12px;
    padding: 45px;
    background-color: #ffffff;
}

.tarjetaC:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


/* imagen */

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sec img {
    max-width: 70%;
    height: auto;
}