.main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 20px;
}

.main h1 {
  color: #2f3f50;
  font-size: 32px;
  font-weight: 600;
}
/* Cards */


.seccion-cursos {
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 20px;
  }
  
  .seccion-cursos h2 {
    margin-top: 0px!important;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #444;
  }
  
  .tarjetaSC {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    transition: box-shadow 0.3s ease;
    margin: 20px;
    display: inline-block;
    text-align: left;
    cursor: pointer;
  }
  
  .tarjetaSC:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
  
  .tarjetaSC img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .tarjetaSC h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    padding: 0 0 4px 0;
    margin-left: 5%;
    margin-bottom: -15px;
  }
  
  .tarjetaSC p {
    padding: 4px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #00a1a8;
    white-space: normal;
    overflow: hidden;
    line-height: 21px;
    height: 46px;
    text-align: left;
    margin-left: 5%;
  }
  
  .linea-progreso {
    background-color: #ccc;
    height: 5px;
    margin: 25px 20px 50px 20px;
    padding: 1px 0px 0px 0px;
  }
  
  .linea-progreso span {
    font-size: 12px;
    color: #777;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .tarjetaSC button {
    display: flex;
    width: 85%;
    padding: 10px;
    background-color: #00a1a8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin: auto;
    font-size: 14px;
    margin-bottom: 10px;

  }
  
  .tarjetaSC button:hover {
    background-color: #015181;
  }


  .recomendaciones{
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 20px;
  }

  .recomendaciones h2 {
    border-bottom: 2px solid #1a1a1a;
    padding: 10px;
  }